<!DOCTYPE html>
<html>
  <body>
    <h2>Hello <%= name %> 👋</h2>
    <p>Welcome to our platform 🚀</p>

    <p>Your email: <%= email %></p>

    <hr />
    <small>This is an automated email</small>
  </body>
</html>